#Question 1:
===========



Answer and Explanation:
=====================

The value 6 is shown after the final evaluation of expression (a).

When imported into the interpreter, the module defines three entities.

a) The variable "a" was initially assigned to the global variable as zero.
b) In the function "b," which invokes the "c" function to change the value of "a,"
c) The function "c," which accepts the parameter "a" and returns "a" plus 2, is being used.

step-by-step:
-------------------
First, the global variable 'a' is changed when 'b' is called and by invoking 'c(a),' which returns the value of 'a' (now 0) + 2, making 'a' become 2.

then, the second time 'b' is called, it updates 'a' once more by calling 'c(a)' with the updated value of 'a' (which is now 2), making 'a' turn into '4'.

Finally, the third time 'b' is called, it modifies 'a' once more by calling 'c(a),' which will give a new value to variable 'a' of 6 (after adding 4 and 2).

Hence, when the final expression "a" is evaluated, the output will be shown as 6, which is the current value of the global variable "a."

In [ ]:
#Output of Question 1:
a = 0
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

In [13]:
#Question 2

def file_length(file_name):
    
    try:
        file = open(file_name)      #Checking the file is readable or not
       #print(file.readable())
        V=file.readable()
        if V == True:
            
            with open(file_name, 'r') as fl:
                x = len(fl.readlines())         #taking count of the lines
            print('Total lines:', x)
               # with open(file_name, 'r') as file:
       #     num_lines = sum(1 for line in file)
       # print('Total lines:', num_lines) 
            
        else:
            
            raise Exception(f"File {file_name} not found")   #throwing exception
    
    except Exception as error:
            print(f"File {file_name} not found.")
        
file_length('midterm.py')
file_length('idterm.py')

Total lines: 60
File idterm.py not found.

In [14]:
#Question 3

class Marsupial:
    def __init__(sf):     #constructor
        sf.pou_con = []   

    def put_in_pouch(sf, i):
        sf.pou_con.append(i)  #values appending

    def pouch_contents(sf):
        return sf.pou_con     #fetching values




# calling
m = Marsupial()   
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [15]:
# Question 3 Continue

#Inheriting class 

class Kangaroo(Marsupial):
    def __init__(sf, x=0, y=0):        #constructor
        super().__init__()             #calling super class fn
        sf.x = x
        sf.y = y

    def jump(sf, dx, dy):
        sf.x += dx
        sf.y += dy
        
    def __str__(sf):
        return f"I am a Kangaroo located at coordinates ({sf.x},{sf.y})"

    
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [16]:
#Question 4

def collatz(x):
    print(x, end='\n')
    if num < 1 :                                        #checking positive integer or not
        print("\nInput value is not an Integer")
    else : 
        if x == 1:
            return
        elif x % 2 == 0:
            collatz(x//2)      # recursive calling
        else:
            collatz(3*x + 1)    # recursive calling
        

a = input("Enter an Integer:")   #Taking dynamic input
num = int(a)
collatz(num)   #calling function collatz

Enter an Integer:10
10
5
16
8
4
2
1

In [17]:
collatz(1)  #calling function collatz

1

In [18]:
collatz(10)   #calling function collatz

10
5
16
8
4
2
1

In [19]:
#question 5:

def binary(n):
    if n < 0 :
         print("\nInput value is not an Integer")       #checking positive integer or not
    else :
        if n > 1:
            binary(n//2)                    # recursive calling
        print(n % 2,end = ' ')
        
    
    
num = int(input("Enter the number: "));    #Taking dynamic input
binary(num)                                #calling function binary

Enter the number: 32
1 0 0 0 0 0

In [20]:
binary(0)     #calling function binary

0

In [21]:
binary(1)     #calling function binary

1

In [22]:
binary(3)     #calling function binary

1 1

In [23]:
binary(9)     #calling function binary

1 0 0 1

In [24]:
#Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(sf):               #constructor
        super().__init__()
        sf.heads = []

    def handle_starttag(sf, tag, atrs):  # to detect heading tags
        try:
            if tag.startswith('h'):
                sf.heads.append((int(tag[1:]), ''))
        except ValueError:
            print(f"Invalid tag: {tag}")  

    def handle_endtag(sf, tag):  
        pass

    def handle_data(sf, dt):     #to extract the text content of the heading tags
        if sf.heads:
            lst_head = sf.heads[-1]
            sf.heads[-1] = (lst_head[0], lst_head[1] + dt.strip())

    def print_headings(sf):   #prints the headings
        for hd in sf.heads:
            print(' ' * hd[0] + hd[1])

# Test with w3c.html


with open('w3c.html', 'r') as f:    #reading html file
    html = f.read()

parser = HeadingParser()
parser.feed(html)
parser.print_headings()

Invalid tag: html
Invalid tag: head
 W3C Mission
  Principles

In [25]:
#Question7

from urllib.request import urlopen
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(' ' * indent + url)
    if depth == 0:
        return
    try:
        html = urlopen(url)
    except:
        return
    soup = BeautifulSoup(html, 'html.parser')
    
    for link in soup.find_all('a'):
        href = link.get('href')
        if href.startswith('http'):
            
            webdir(href, depth-1, indent+1)
            
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 5, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [ ]:
!pip install ipython-sql

In [ ]:
# Question 8


!pip install ipython-sql

In [ ]:
import sqlite3

conn = sqlite3.connect('We_DB.db')
cur = conn.cursor()
cur.execute('CREATE TABLE weather (City TEXT, Country TEXT, Season TEXT,Temperature FLOAT,Rainfall FLOAT)')
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Winter','24.8','5.9')")
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Spring','28.4','16.2')")
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Summer','27.9','1549.4')")
cur.execute("INSERT INTO weather VALUES ('Mumbai','India','Fall','27.6','346.0')")
cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Winter','4.2','207.7')")
cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Spring','8.3','169.6')")
cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Summer','15.7','157.0')")
cur.execute("INSERT INTO weather VALUES ('London','United Kingdom','Fall','10.4','218.5')")
cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Winter','13.6','16.5')")
cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Spring','20.7','6.5')")
cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Summer','27.7','0.1')")
cur.execute("INSERT INTO weather VALUES ('Cairo','Egypt','Fall','22.2','4.5')")

conn.commit()
c = conn.cursor()

In [1]:
%load_ext sql
%sql sqlite:///WE_DB.db

In [3]:
%%sql

SELECT * FROM weather

 * sqlite:///WE_DB.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [4]:
%%sql
SELECT Temperature FROM weather

 * sqlite:///WE_DB.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [5]:
%%sql

SELECT DISTINCT City FROM weather

 * sqlite:///WE_DB.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [6]:
%%sql

SELECT * FROM weather WHERE Country = 'India'

 * sqlite:///WE_DB.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [7]:
%%sql
SELECT * FROM weather WHERE Season = 'Fall'

 * sqlite:///WE_DB.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [8]:
%%sql

SELECT City, Country, Season, AVG(Rainfall) as avg_rain
FROM weather
GROUP BY City, Country, Season
HAVING avg_rain >= 200 AND avg_rain <= 400;

 * sqlite:///WE_DB.db
Done.

[('London', 'United Kingdom', 'Fall', 218.5),
 ('London', 'United Kingdom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [9]:
%%sql
SELECT City, Country, AVG(Temperature) AS Avg_temp FROM weather 
WHERE Season = 'Fall' AND Temperature > 20
GROUP BY City, Country
HAVING Avg_temp > 20
ORDER BY Avg_temp ASC;

 * sqlite:///WE_DB.db
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

In [10]:
%%sql
SELECT SUM(Rainfall) FROM weather WHERE City='Cairo'

 * sqlite:///WE_DB.db
Done.

[(27.6,)]

In [11]:
%%sql
SELECT SUM(Rainfall) FROM weather GROUP BY Season

 * sqlite:///WE_DB.db
Done.

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Out_Lst1, Out_Lst2, Out_Lst3, Out_Lst4,Out_Lst5  = [],[],[],[],[]

for w in words:
    Out_Lst1.append(w.upper())
    Out_Lst2.append(w.lower())
    Out_Lst3.append(len(w))
    if (len(w) >=4):
        Out_Lst4.append(w)

for i in range(len(words)):
     Out_Lst5.append([Out_Lst1[i], Out_Lst2[i], Out_Lst3[i]])
   

#printing all datas
print("\na)",Out_Lst1)
print("\nb)",Out_Lst2)
print("\nc)",Out_Lst3)
print("\ne)",Out_Lst5)
print("\nd)",Out_Lst4)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3]

e) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

d) ['quick', 'brown', 'jumps', 'over', 'lazy']